tiny-tonnetz-cell {
  --tinyTonnetz_theme_cell_text: light-dark(#c7c6c6, #3c3c3c);
  --tinyTonnetz_theme_cell_text--blackKey: light-dark(#f3f3f3, #585858);
  --tinyTonnetz_theme_cell_background: light-dark(#f3f3f3, #4c4c4c);
  --tinyTonnetz_theme_cell_background--blackKey: light-dark(#cbcbcb, #3a3a3a);

  --tinyTonnetz_theme_cell_text--active: light-dark(#000, #000);
  --tinyTonnetz_theme_cell_text--active-blackKey: light-dark(#ddd, #9d9d9d);
  --tinyTonnetz_theme_cell_background--active: light-dark(#fff, #c7c7c7);
  --tinyTonnetz_theme_cell_background--active-blackKey: light-dark(#434343, #1e1e1e);

  --tinyTonnetz_theme_link: light-dark(#e3e3e3, #424242);
  --tinyTonnetz_theme_link--active: light-dark(#333, #222);
  --tinyTonnetz_theme_link--pressed: light-dark(#000, #000);

  pointer-events: none;
}

.cell_node {
  --level: 0px;
  --scale: 1;
  --count: 0;

  pointer-events: initial;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  padding: 2%;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: var(--tinyTonnetz_theme_cell_background);
  color: var(--tinyTonnetz_theme_cell_text);
  border-radius: 25%;
  transform: translate(-50%, -50%) translateY(calc(0px - var(--level))) scale(var(--scale));
  font-size: .8rem;
  font-family: sans-serif;
  font-weight: bold;
  border: 2px solid transparent;
  outline: calc(6px * var(--count)) solid transparent;
  transition-property: transform, box-shadow, background-color, color, border, outline-width, outline-color;
  transition-duration: 100ms;

  height: 34px;
  aspect-ratio: 1;

  &.-blackKey {
    justify-content: space-between;
    background: var(--tinyTonnetz_theme_cell_background--blackKey);
    color: var(--tinyTonnetz_theme_cell_text--blackKey);
    font-size: .6rem;
  }

  & :first-child {
    align-self: flex-start;
  }

  & :last-child {
    align-self: flex-end;
  }

  &.-active {
    --level: 2px;
    box-shadow:
      0 var(--level) calc(var(--level)) #0002,
      0 calc(var(--level) * 2) calc(var(--level)) #0004,
      0 var(--level) 0 #000;
    background: var(--tinyTonnetz_theme_cell_background--active);
    color: var(--tinyTonnetz_theme_cell_text--active);
    border-color: #000;
    outline-color: #0004;

    &.-blackKey {
      background: var(--tinyTonnetz_theme_cell_background--active-blackKey);
      color: var(--tinyTonnetz_theme_cell_text--active-blackKey);
    }

    &:not(.-pressed) { --level: 6px }
    &.-completelyPressed { --level: 0px }
  }

  &.-chordRoot {
    --scale: 1.1;
    --root-hue: 162;
    background: light-dark(hsl(var(--root-hue), 100%, 82%), hsl(var(--root-hue), 50%, 64%));

    &.-blackKey {
      background: light-dark(hsl(var(--root-hue) 42% 50%), hsl(var(--root-hue) 38% 38%));
      color: light-dark(hsl(var(--root-hue), 100%, 92%), hsl(var(--root-hue), 70%, 70%));
    }

    &.-minorThird { --root-hue: 344 }
    &.-majorThird { --root-hue: 273 }
    &.-minorChord { --root-hue: 220 }
    &.-majorChord { --root-hue: 23 }

    &.-minorThird.-majorThird,
    &.-minorChord.-majorChord {
      background: light-dark(hsl(0, 0%, 85%), hsl(0, 0%, 55%));

      &.-blackKey {
        background: light-dark(hsl(0 0% 50%), hsl(0 0% 20%));
        color: light-dark(hsl(0, 0%, 95%), hsl(0, 0%, 60%));
      }
    }
  }
}

.cell_background {
  transform: translateY(-100%);
  overflow: visible;
  pointer-events: none;

  line {
    stroke-width: 8px;
    stroke: var(--tinyTonnetz_theme_link);
    stroke-dasharray: 22, 0;
    transition-property: stroke, stroke-width, stroke-dasharray;
    transition-duration: 100ms;

    &.perfectFifth {
      stroke-width: 4px;
    }

    &.-active {
      stroke-width: 12px;
      stroke: var(--tinyTonnetz_theme_link--active);

      &.-chordActive {
        stroke-width: 1px;
        stroke-dasharray: 16, 6;
      }
    }

    &.-pressed {
      stroke-width: 14px;
      stroke: var(--tinyTonnetz_theme_link--pressed);
    }
  }
}

.cell_minorGradient,
.cell_majorGradient {
  stop {
    &:first-child { stop-opacity: .5 }
    &:last-child { stop-opacity: 0 }
  }
}

.cell_minorGradient stop {
  stop-color: light-dark(hsl(220 50% 40%), hsl(220 100% 73%));
}

.cell_majorGradient stop {
  stop-color: light-dark(hsl(30 70% 50%), hsl(30 100% 73%));
}

.cell_minorChord {
  fill: none;

  &.-active {
    fill: url(#minor-grad);
  }
}

.cell_majorChord {
  fill: none;
  &.-active {
    fill: url(#major-grad);
  }
}
