.cell {
  --bold-color: hsl(346.15deg 54.55% 65.49%);
  pointer-events: none;

  &:not(.-primary) {
    /*filter : contrast(.1) brightness(1.7);*/
  }
}

.cell_node {
  --level: 0px;
  --count: 0;
  pointer-events: initial;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  gap: 4px;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #f3f3f3;
  color: #888;
  border-radius: .5rem;
  transform: translate(-50%, -50%) translateY(calc(0px - var(--level)));
  font-size: .8rem;
  font-family: sans-serif;
  font-weight: bold;
  border: 2px solid transparent;
  outline: calc(6px * var(--count)) solid transparent;
  transition-property: transform, box-shadow, background, color, border, outline-width, outline-color;
  transition-duration: 100ms;

  width: 30px;
  height: 30px;

  .cell.-blackKey & {
    background: #a1a1a1;
    color: #eee;
    font-size: .6rem;
  }

  .cell.-active & {
    box-shadow:
      0 0 8px #0002,
      0 8px 16px #0004,
      0 var(--level) 0 #000;
    background: #fff;
    color: #000;
    border-color: #000;
    outline-color: #0004;
  }

  .cell.-active:not(.-pressed) & {
    --level: 6px;
  }

  .cell.-active.-blackKey & {
    background: #434343;
    color: #fff;
  }
}

.cell_background {
  transform: translateY(-100%);
  overflow: visible;
  pointer-events: none;

  line {
    stroke-width: 8px;
    stroke: #e3e3e3;
    stroke-dasharray: 22, 0;
    transition-property: stroke, stroke-width, stroke-dasharray;
    transition-duration: 100ms;

    &.perfectFifth {
      stroke-width: 4px;
    }

    &.-active {
      stroke-width: 14px;
      stroke: #333;

      &.perfectFifth:not(.-alone) {
        stroke-width: 1px;
        stroke-dasharray: 16, 6;
      }
    }
  }
}

.cell_minorChord {
  fill: none;
  &.-active {
    fill: url(#minor-grad);
  }
}

.cell_majorChord {
  fill: none;
  &.-active {
    fill: url(#major-grad);
  }
}
